<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row between-xs middle-xs header-row">
      <nav>
        <a mat-button routerLink="/admin/pacientes" routerLinkActive="active">Home <mat-icon>house</mat-icon></a>       
        <a mat-button routerLink="/doctores" routerLinkActive="active">Doctores</a>
        <a mat-button routerLink="/pacientes" routerLinkActive="active">Pacientes</a>
        <a mat-button routerLink="/consultas" routerLinkActive="active">Consultas</a>
        <a mat-button routerLink="/recetas" routerLinkActive="active">Recetas</a>
      </nav>
      <a mat-raised-button>
        <mat-icon>bloodtype</mat-icon>
        Nueva Consulta
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


