<div>
  <div>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label>Buscar por Nombre</mat-label>
      <input matInput type="text" [(ngModel)]="searchValue">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="searchName()">                                 
        <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <table mat-table [dataSource]="pacientes" class="mat-elevation-z8">
      <ng-container matColumnDef="idPaciente">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.patientId }}</td>
      </ng-container>
      <ng-container matColumnDef="documentNumber">
        <th mat-header-cell *matHeaderCellDef>Documento</th>
        <td mat-cell *matCellDef="let element">{{ element.documentNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>Nombres</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Apellidoa</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>
      <ng-container matColumnDef="cellNumber">
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{ element.cellNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td *matCellDef="let element">
          <a mat-raised-button [routerLink]="['/pacientes', element.patientId]"
            >Ver detalle</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</div>
